{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="row">
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <h5 class="card-category">Charge et Decharge</h5>
                            <h2 class="card-title">Production</h2>
                        </div>
                        <div class="col-sm-6">
                            <div class="btn-group btn-group-toggle float-right">
                              <label class="btn btn-sm btn-primary btn-simple active" id="1">
                                <input type="button" class="d-none d-sm-none" name="options" onclick="saveModif2()">
                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Sauvgarder les modifications</span>
                                <span class="d-block d-sm-none">
                                  <i class="tim-icons icon-gift-2"></i>
                                </span>
                              </label>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="chartJSContainer" style="height: 400px; width: 600px; display: block;" width="600" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>

{% endblock %}