<div class="sidebar" data="blue">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
-->
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="javascript:void(0)" class="simple-text logo-mini">
        RMT
      </a>
      <a href="javascript:void(0)" class="simple-text logo-normal">
        Interface
      </a>
    </div>
    <ul class="nav">
      <li class="active ">
        <a href="./dashboard.html">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="./icons.html">
          <i class="tim-icons icon-atom"></i>
          <p>Décalage de production</p>
        </a>
      </li>
      <li>
        <a href="./map.html">
          <i class="tim-icons icon-pin"></i>
          <p>Lissage PV</p>
        </a>
      </li>
      
      <li>
        <a href="./user.html">
          <i class="tim-icons icon-single-02"></i>
          <p>Régulation de fréquence</p>
        </a>
      </li>
    </ul>
  </div>
</div>